<style>
    @font-face {
        font-family: 'clock';
        src: url('/static/font/DS-DIGIB.TTF') format('truetype');
    }   
    
    html {
        /* 드래그 방지 */
        -ms-user-select: none;
        -moz-user-select: -moz-none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        user-select: none;
    }
    
    hr {
        width: 100%;
        margin: 0%;
        padding: 0%;
    }
    
    body {
        /* overflow-y: overlay; 해야 스크롤바가 공간을 차지 안함. */
        overflow-y: overlay;
        background-size: cover;
      
        /* 스크롤이 디폴트로 있도록 설정 */
        overflow: scroll;
        margin: 0px;
        padding: 0px;
        width: 100%;
    }
    
    .container-one {
        padding-left: 40px;
        padding-right: 20px;
        position: relative;
        top: 9px;
        display: flex;
        justify-content: space-between;
        height: 80px;
        align-items: center;
        margin-bottom: 9px;
    }
    
    .container-two {
        display: flex;
        justify-content: center;
        height: 40px;
        align-items: center;
    }
    
    .right-now {
        display: flex;
        align-items: center;
        position: relative;
        left: 100px;
        width: auto;
    }
    
    .header-ul {
        margin: 7px;
    }
    
    a {
        text-decoration: none;
    }
    
    .header-maincontainer {
        background-color: white;
    }
    
    .RightNowLogo {
        padding-right: 15px;
    }
    
    .header-ul a {
        margin-right: 10px;
        color: #356FCA;
    }
    
    .clock-box {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align:left; /* 추가적으로 텍스트 정렬을 중앙으로 설정 */
    }
    
    #clock {
        width: 400px;
        margin-left: 52px;
        font-family: 'clock';
        font-size:400%;
        font-weight: bold;
        color: #FF0000;
        position: absolute;
        top: 50%; /* 텍스트의 상단을 이미지의 중앙으로 위치시킴 */
        left: 50%; /* 텍스트의 좌측을 이미지의 중앙으로 위치시킴 */
        transform: translate(-50%, -50%); /* 텍스트의 중앙을 이미지의 중앙에 맞춤 */
    }
</style>

<div>
    <header class="header-maincontainer">
        <div class="clock-box">
            <img src="/static/img/logos/topClock.svg" alt="" width="100%">
            <div class="clock-text" id="clock"></div>
        </div>
        <div class="container-one">
            <div class="logo"><a href="/"><img src="/static/img/logos/SVG/homeLogo.svg" alt="" width="50px"></a></div>
            <div class="right-now">
                <div class="RightNowLogo"><a href="/rightNow"><img src="/static/img/logos/SVG/RightNowLogo.svg" width="100%"></a></div>
                <div><img src="/static/img/logos/SVG/searchLogo.svg" alt="" width="290"> </div>
            </div>
            <div onclick="scrollToBottom()">
                <img src="/static/img/logos/rightBox-button.svg" alt=""width="50px">
            </div>
        </div>

        <hr/>

        <div class="container-two">
            <ul class="header-ul">
                <a href="/mainRelation">인간관계</a>
                <a href="/mainHealth">신체문제</a>
                <a href="/mainTogther">함께모여</a>
                <a href="/mainEmergency">긴급해요</a>
            </ul>
        </div>
    </header>
</div>

<script>
    var clockTarget = document.getElementById("clock");

    function clock() {
        var date = new Date();
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var seconds = date.getSeconds();
        var milliseconds = date.getMilliseconds();
        const centiseconds = Math.floor(milliseconds / 10); // 1/100초로 변환

        clockTarget.innerText = `${hours < 10 ? `0${hours}` : hours}: ${minutes < 10 ? `0${minutes}` : minutes}: ${seconds < 10 ? `0${seconds}` : seconds}: ${centiseconds < 10 ? `0${centiseconds}` : centiseconds}`;

       
    }

    //스크롤 내리는 함수
    function scrollToBottom() {
            // 세로 스크롤을 페이지의 가장 아래로 이동
            window.scrollTo(0, document.body.scrollHeight);
        }
    function init() {
        clock();
        setInterval(clock, 10);
    }

    init();
</script>
