<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GateMain</title>
    <style>
        body{
            background-color: #356FCA;
            
        }
        .homeMain-container{
            margin-top: 4.5%;
            display: flex;
            justify-content:center;
            align-items:center;
        }
    </style>
</head>
<body>
    <header class="container">
        <div><%- include('./header.ejs') %></div>
    </header>
    <div class="homeMain-container">
        <img src="/static/img/logos/SVG/homeMain.svg" alt="" width="77%">
    </div>

</body>
</html>