<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GateMain</title>
    <style>
        body{
            background-color: #356FCA;
            
        }
    </style>
</head>
<body>
    <header class="container">
        <div><%- include('./header.ejs') %></div>
    </header>
</body>
</html>