<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Gate긴급해요</title>
</head>
<body>
    <header class="container">
        <div><%- include('./header.ejs') %></div>
    </header>

    <div class="main-image">
        <!-- 안에 각자 다른 사진 -->
    </div>
</body>
</html>