<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- css -->
        <link rel="stylesheet" href="/static/css/main.css">
    <title>Gate함께모여</title>
    <style>
       .main-image{
            display: flex;
            align-items:center;
            margin: 0px;
            padding: 0px;
            height:35vh;
            
        }
        .main-image img{
            position: relative;
            left: 80px;
            top: 7px;
        }
        .health-list img{
            position: relative;
            left: 620px;
            top: 70px;
        }
    </style>
</head>
<body>
    <header class="container">
        <div><%- include('./header.ejs') %></div>
    </header>
    <div class="main-image">
        <!-- 안에 각자 다른 사진 -->
        <img src="/static/img/logos/togeH.svg" alt="" height="350vh" >
    </div>
    <div class="health-list">
        <img src="/static/img/logos/togetherContents.svg" alt="" height="1500px" id="move">
    </div>
</body>
</html>